$base-color: #2E3F7F;
$base-light-color: #1771F1;
$second-color: #EF7D40;
$nearWhite-color: #F4F8FD;

$mainMobMarginTop: 60px;
$mainMarginTop: 75px;


// $breakpoints: ('xs': ('(min-width: 576px)'),
//     'sm': ('(min-width: 768px)'),
//     'md': ('(min-width: 992px)'),
//     'lg': ('(min-width: 1200px)'),
//     'xl': ('(min-width: 1600px)'),
// );

$breakpoints: ('xs': ('(max-width: 575px)'),
    'sm': ('(max-width: 767px)'),
    'md': ('(max-width: 991px)'),
    'lg': ('(max-width: 1199px)'),
    'xl': ('(max-width: 1599px)'),
);