$base-text-color: #000000;
$base-text-light-color: #5b5b5b;
$transition-time: 0.4s;




// $breakpoints: ('xs': ('(min-width: 576px)'),
//     'sm': ('(min-width: 768px)'),
//     'md': ('(min-width: 992px)'),
//     'lg': ('(min-width: 1200px)'),
//     'xl': ('(min-width: 1600px)'),
// );

$breakpoints: ('xs': ('(max-width: 575px)'),
    'sm': ('(max-width: 767px)'),
    'md': ('(max-width: 991px)'),
    'lg': ('(max-width: 1199px)'),
    'xl': ('(max-width: 1599px)'),
);