<% var data = { title: "BookCatalog", author: "Denis&Danil" }; %>

<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= _.template(require('html-loader!./../includes/head.html'))(data) %>
  </head>

  <body>
    <%= _.template(require('html-loader!./../includes/header.html'))(data) %>

    <main>
      <section class="authors">
        <div class="container">
          <div class="row authors__row">
            <div class="col-12 col-lg-5">
              <img
                src="img/pictures/authors_irina.jpg"
                alt="authors_irina"
                class="authors__img"
              />
            </div>
            <div class="col-12 offset-lg-1 col-lg-6">
              <h2 class="authors__title authors__title_left">
                Ира Степанян <span class="authors__subtitle">автор стихов</span>
              </h2>
              <p class="authors__text authors__text_right">
                Идейные соображения высшего порядка, а также дальнейшее развитие
                различных форм деятельности позволяет оценить значение новых
                предложений. Повседневная практика показывает, что реализация
                намеченных плановых заданий в значительной степени обуславливает
                создание модели развития. Если у вас есть какие то интересные
                предложения, обращайтесь! Студия Web-Boss всегда готова решить
                любую задачу. Значимость этих проблем настолько очевидна, что
                консультация с широким активом играет важную роль в формировании
                новых предложений. Равным образом постоянный количественный рост
                и сфера нашей активности играет важную роль в формировании
                системы обучения кадров, соответствует насущным потребностям.
                Таким образом реализация намеченных плановых заданий позволяет
                оценить значение новых предложений. С другой стороны постоянное
                информационно-пропагандистское обеспечение нашей деятельности
                обеспечивает широкому кругу (специалистов) участие в
                формировании позиций, занимаемых участниками в отношении
                поставленных задач.
              </p>
            </div>
          </div>
          <!-- /.row -->

          <div class="row row_reverse">
            <div class="col-12 col-lg-6">
              <h2 class="authors__title authors__title_right">
                Белла Борискина
                <span class="authors__subtitle"
                  >автор иллюстрации к стихам и картин</span
                >
              </h2>
              <p class="authors__text">
                Равным образом постоянный количественный рост и сфера нашей
                активности играет важную роль в формировании системы обучения
                кадров, соответствует насущным потребностям. Товарищи!
                постоянное информационно-пропагандистское обеспечение нашей
                деятельности позволяет выполнять важные задания по разработке
                модели развития. Идейные соображения высшего порядка, а также
                укрепление и развитие структуры играет важную роль в
                формировании существенных финансовых и административных условий.
                Идейные соображения высшего порядка, а также рамки и место
                обучения кадров обеспечивает широкому кругу (специалистов)
                участие в формировании новых предложений. С другой стороны
                постоянное информационно-пропагандистское обеспечение нашей
                деятельности обеспечивает широкому кругу (специалистов) участие
                в формировании позиций, занимаемых участниками в отношении
                поставленных задач. Разнообразный и богатый опыт консультация с
                широким активом обеспечивает широкому кругу.
              </p>
            </div>
            <div class="col-12 offset-lg-1 col-lg-5">
              <img
                src="img/pictures/authors_bella.jpg"
                alt="authors_bella"
                class="authors__img"
              />
            </div>
          </div>
          <!-- /.row -->
        </div>
      </section>
    </main>

    <%= _.template(require('html-loader!./../includes/footer.html'))(data) %>
  </body>
</html>
