<% var data = {
    title: "BookCatalog",
    author: "Denis&Danil"
}; %>


<!DOCTYPE html>
<html lang="ru">

<head>
  <%= _.template(require('html-loader!./../includes/head.html'))(data) %>
</head>

<body>

  <%= _.template(require('html-loader!./../includes/header.html'))(data) %>

  <main>

    <section class="book-card">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="title book-card__title">На коврике уснул олень</h1>
          </div>
          <div class="col-12 col-lg-7 col-xl-6">
            <div class="book-card__descr">
              <div class="book-card__img-wrp">
                <img src="img/pictures/book_img.jpg" alt="book-img" class="book-card__img">
              </div>
              <div class="book-card__info">
                <ul class="book-card__details">
                  <li class="book-card__info-item">
                    Год издания: <span class="book-card__info-val">
                      2020
                    </span>
                  </li>
                  <li class="book-card__info-item">
                    Художник: <span class="book-card__info-val">
                      Белла Борискина
                    </span>
                  </li>
                  <li class="book-card__info-item">
                    Кол-во страниц: <span class="book-card__info-val">
                      96
                    </span>
                  </li>
                  <li class="book-card__info-item">
                    Формат: <span class="book-card__info-val">
                      21.5 x 16.5 x 1.2
                    </span>
                  </li>
                  <li class="book-card__info-item">
                    Тип обложки: <span class="book-card__info-val">
                      Твердая бумажная
                    </span>
                  </li>
                  <li class="book-card__info-item">
                    Тираж: <span class="book-card__info-val">
                      2000
                    </span>
                  </li>
                  <li class="book-card__info-item">
                    Вес, г: <span class="book-card__info-val">
                      330
                    </span>
                  </li>
                </ul>
                <div class="book-card__inner">
                  <span class="book-card__price">650 руб.</span>
                  <button class="btn btn_narrow">Заказать</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-5 col-xl-6">
            <div class="book-card__annotation">
              <span class="book-card__subtitle">Аннотация</span>
              <p class="book-card__text">Каждый раз, когда малышка Рутя приезжает в гости к дедушке, они
                вместе идут исследовать старую бухту возле коттеджа. Но в её последний приезд вдруг
                оказалось, что дедушка уже не может гулять с Рутей, как это было раньше - тропинка к
                бухте слишком крутая и извилистая. Чтобы внучка не слишком расстраивалась, дедуля
                начинает рассказывать морские истории. И Рутя понимает, что хоть они и живут близко к
                морю, но теперь дедушка оторван от него. Что же придумать, чтобы привести дедулю в то
                место, которое он любит больше всего?
                «Море историй» - это вдохновляющая книга о важности поддержки и любви к приключениям,
                которая не зависит от возраста.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="user-contacts">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3 class="user-contacts__title">Для заказа книги оставте ваши контакты и мы с вами свяжемся
            </h3>
          </div>
          <div class="col-12">
            <form action="#" class="form form_horizontal">
              <div class="form__inner">
                <input name="userName" type="text" class="inp form__input-hor" placeholder="Имя">
                <input name="userPhone" type="text" class="inp form__input-hor" placeholder="Телефон">
                <input name="userEmail" type="text" class="inp form__input-hor" placeholder="E-mail">
              </div>
              <button type="submit" class="btn btn_narrow">Отправить</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>




  <%= _.template(require('html-loader!./../includes/footer.html'))(data) %>

</body>

</html>