<% var data = {
    title: "BookCatalog",
    author: "Denis&Danil"
}; %>


<!DOCTYPE html>
<html lang="ru">

<head>
    <%= _.template(require('html-loader!./../includes/head.html'))(data) %>
</head>

<body>

    <%= _.template(require('html-loader!./../includes/header.html'))(data) %>

    <main>
        <section class="verse-listing">
            <div class="container">

                <div class="verse-promo">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="title verse-promo__title">Полночный разговор или разговор с собою</h2>
                        </div>
                        <div class="col-12 col-md-7 col-lg-6">
                            <div class="verse-promo__img-wrp">
                                <img src="img/pictures/verse_img.jpg" alt="verse-img" class="verse-promo__img">
                            </div>
                        </div>
                        <div class="col-12 col-md-5 col-lg-4">
                            <div class="verse-promo__inner">
                                <div class="verse-promo__descr">
                                    <p class="verse-promo__text">Сижу одна. Сама с собою <br>
                                        Веду неспешный разговор. <br>
                                        Бокал стоит передо мною- <br>
                                        Души с умом свидетель ссор, <br>
                                        Вином наполненный до края, <br>
                                        Мечтает, что допью до дна.</p>
                                    <span class="date">27.07.2020</span>
                                </div>
                                <a href="#" class="btn">Читать полностью</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.verse-promo -->

                <div class="verse-promo">
                    <div class="row">
                        <div class="col-12 offset-lg-2 col-lg-10">
                            <h2 class="title verse-promo__title">Летний дождь</h2>
                        </div>
                        <div class="col-12 col-md-7 offset-lg-2 col-lg-6">
                            <div class="verse-promo__img-wrp">
                                <img src="img/pictures/verse_img.jpg" alt="verse-img" class="verse-promo__img">
                            </div>
                        </div>
                        <div class="col-12 col-md-5 col-lg-4">
                            <div class="verse-promo__inner">
                                <div class="verse-promo__descr">
                                    <p class="verse-promo__text">Я двери распахнула в лето <br>
                                        И в затяжной прохладный дождь, <br>
                                        На тропку наложил он вето, <br>
                                        Вид мокрых досок вызвал дрожь. <br>
                                        Манит зелёными ветвями <br>
                                        Под сень свою окрестный лес…</p>
                                    <span class="verse-promo__date">27.07.2020</span>
                                </div>
                                <a href="#" class="btn">Читать полностью</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.verse-promo -->

                <div class="row">
                    <div class="col-12 offset-lg-2 col-lg-10">
                        <ul class="pagination" role="menubar" aria-label="Pagination">
                            <li class="pagination__item">
                                <a href="#" class="pagination__link">
                                    <img src="img/icons/arrow-prev.svg" alt="prev">
                                </a>
                            </li>
                            <li class="pagination__item">
                                <a href="#" class="pagination__link"><span>F</span></a>
                            </li>
                            <li class="pagination__item">
                                <a href="#" class="pagination__link">1</a>
                            </li>
                            <li class="pagination__item">
                                <a href="#" class="pagination__link">2</a>
                            </li>
                            <li class="pagination__item">
                                <a href="#" class="pagination__link">3</a>
                            </li>
                            <li class="pagination__item current">
                                <a href="#" class="pagination__link">4</a>
                            </li>
                            <li class="pagination__item">
                                <a href="#" class="pagination__link">5</a>
                            </li>
                            <li class="pagination__item">
                                <a href="#" class="pagination__link">6</a>
                            </li>
                            <li class="pagination__item">
                                <a href="#" class="pagination__link">7</a>
                            </li>
                            <li class="pagination__item">
                                <a href="#" class="pagination__link">8</a>
                            </li>
                            <li class="pagination__item">
                                <a href="#" class="pagination__link"><span>L</span></a>
                            </li>
                            <li class="pagination__item">
                                <a href="#" class="pagination__link">
                                    <img class="pagination__next" src="img/icons/arrow-prev.svg" alt="next">
                                </a>
                            </li>
                        </ul>
                        <!-- /.pagination -->
                    </div>
                </div>

            </div>
        </section>
    </main>




    <%= _.template(require('html-loader!./../includes/footer.html'))(data) %>

</body>

</html>